.header{
    background: var(--bold-gradient);
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 100px 10px 30px;
        max-width: 1200px;
        margin: 0 auto;
    }
    &__logo{
        width: 130px;
        height: 80px;
        object-fit: contain;
        img{
            width: 100%;
            height: auto;
        }
    }
    &__nav{
        display: flex;
        justify-content: center;
        gap: 16px;
        &__items{
            color: #fff;
            font-size: 16px;
            text-decoration: none;
        }
    }
}