@use "@/styles/mixins" as *;

.card {
  width: 100%;
  border-radius: 18px;
  background-color: #fff;
  @include shadow;
  @include tablet {
    max-width: 400px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bold-gradient);
    padding: 20px 20px;
    border-radius: 18px 18px 0 0;
    @include tablet {
      padding: 24px 20px;
    }
    &__title {
      color: #fff;
      font-size: 16px;
    }
    .tooltip {
      position: relative;
      &:hover {
        .tooltip__info {
          display: block;
        }
      }
      &__icon {
        background-image: url("/assets/icons/info.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      &__info {
        display: none;
        width: 180px;
        position: absolute;
        right: 0;
        padding: 12px 20px;
        background-color: #fff;
        font-size: 11px;
        border-radius: 4px;
        z-index: 9;
        @include shadow;
      }
    }
  }
  &__content {
    padding: 28px 10px 16px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    &__title {
      font-size: 24px;
      font-weight: bold;
      background: var(--bold-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    &__subtitle {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      max-width: 300px;
    }
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    var(--bold-gray-2) 25%,
    #e0e0e0 50%,
    var(--bold-gray-2) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
