@use "@/styles/mixins" as *;

.period_selector{
    height: fit-content;
    width: 100%;
    @include tablet{
        position: relative;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 10px;
        background: #fff;
        border-radius: 4px;
        gap: 4px;
    }
    &__item{
        max-width: 300px;
        width: 100%;
        font-size: 13px;
        padding: 8px 10px;
        text-align: center;
        cursor: pointer;
        color: var(--bold-blue);
        background-color: #fff;
        border: none;
        border-radius: 24px;
        @include tablet{
            font-size: 16px;
            padding: 8px 30px;
            &:hover{
                background-color: var(--bold-gray-2);
            }
        }
        &.selected{
            background-color: var(--bold-gray-2);
            border-radius: 24px;
        }
    }
}