@use "@/styles/mixins" as *;

.transactions{
    &__layout{
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding:30px 15px 30px 15px;
        @include tablet{
            padding: 50px 30px 30px;
        }
    }
    &__page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__resume{
        display: flex;
        gap: 20px;
        margin-bottom: 67px;
        flex-direction: column-reverse;
        position: relative;
        @include tablet{
            flex-direction: row;
            margin-bottom: 20px;
        }
    }
    &__section{
        width: 100%;
        @include tablet{
            background-color: #fff;
        }
        &__header{
            background: var(--bold-gradient);
            padding: 14px;
            border-radius: 14px 14px 0 0;
        }
        &__title{
            color: #fff;
            font-size: 16px;
        }
    }
}

    
