@use "@/styles/mixins" as *;

.transaction{
    &__detail{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 60dvh;
        background-color: #fff;
        border-radius: 12px 12px 0 0;
        z-index: 3;
        @include shadow;
        animation: slideInFromBottom 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        @include tablet{
            max-width: 400px;
            bottom: unset;
            right: 0;
            top: 0;
            height: 100dvh;
            border-radius: 12px 0 0 12px;
            animation: slideInFromRight 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        }
        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            padding: 40px 25px;
        }

        &__close{
            width: 18px;
            height: 18px;
            background-image: url("/assets/icons/close.svg");
            background-size: cover;
            background-color: transparent;
            background-repeat: no-repeat;
            position: absolute;
            right: 10px;
            top: 12px;
            border: none;
            cursor: pointer;
        }
        &__info{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding:0 4px 16px 4px;
            font-size: 14px;
            p{
                color: var(--bold-gray-1);
            }
        }
        &__status{

            &__icon{
                margin-bottom: 16px;
            }
            &__text{
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 16px;
            }
        }
        &__amount{
            font-size: 20px;
            font-weight: 600;
            color: var(--bold-blue);
            margin-bottom: 16px;
        }
        &__date{
            margin-bottom: 40px;
        }
        &__id{
            span{
                font-weight: 500;
            }
        }
        &__deduction{
            margin-bottom: 16px;
            border-bottom: 1px solid var(--bold-gray-1);
            span{
                font-weight: 600;
                color: rgb(202, 18, 18);
            }
        }
        &__payment{
            span {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 2;
    background-color: #c8c8c84f;
    backdrop-filter: blur(0.8px);
    animation: fadeIn 0.25s ease-in-out forwards;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}