:root{
    --bold-gradient: linear-gradient(90deg, rgba(19, 29, 107, 1) 0%, rgba(240, 65, 81, 1) 100%, rgba(54, 35, 103, 1) 61%);
    --bold-blue:#121E6C;
    --bold-red:#EE424E;
    --bold-gray-1:#606060;
    --bold-gray-2:#F3F3F3;
    --bold-background:#F6F4F9;
}
